---
// Supports weights 100-900
import '@fontsource-variable/imbue';

import Layout from '../layouts/Layout.astro';
---

<Layout title="About">
  <div class="py-10">
    <p class="text-center font-imbue text-3xl font-thin text-white">
      N Badges is a free collection of badges created by <a
        href="https://www.cristhgunners.com/"
        rel="noopener"
        class="text-white hover:text-neutral-200"
        target="_blank">CristhGunners</a
      >.
    </p>
  </div>
</Layout>
